;; shadow-cljs configuration
{:source-paths
 ["src/clojure/src/main"]

 :dependencies
 [[datascript "1.3.13"]]

 :builds
 {:lib
  {:target :node-library
   :output-to "src/clojure/bundle/clojure.cjs"
   :exports-var hello/exports}}}
